@model IEnumerable<Pengembalian>


<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Tabel Pengembalian</h4>
                <p class="card-description"></p>
                <div class="table-responsive">

                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Id)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Nama_Lengkap)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Tgl_Kembali_Seharusnya)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Tgl_Kembali)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.PeminjamanId)
                                </th>
                                <th>
                                    Opsi
                                </th>
                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Id)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Nama_Lengkap)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Tgl_Kembali_Seharusnya)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Tgl_Kembali)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PeminjamanId)
                                    </td>
                                    <td>
                                        <a class="btn btn-primary" style="width:80px; font-size: small">Edit</a>
                                        <a class="btn btn-warning" style="width: 80px; font-size: small">Delete</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>